* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 67.2%;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    90deg,
    rgb(232, 166, 166),
    rgb(142, 142, 210)
  );
  font-family: system-ui;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  margin: 2rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
  box-shadow: 0 2rem 4rem 2rem rgba(0, 0, 0, 0.3);
  font-family: system-ui;
  opacity: 0;
  width: 12rem;
}
.card {
  padding: 1rem;
}

.cover {
  display: flex;
  width: 10rem;
  height: 10rem;
}
h2,
h5,
h6 {
  padding: 0.2rem;
  font-size: 0.6rem;
  width: 10rem;
}
.santhu {
  width: 10rem;
}

audio {
  width: 100px;
  height: 16px;
}
span {
  color: #555;
  font-family: "Segoe UI";
}
.head {
  display: flex;

  padding: 1rem;
  font-size: 3rem;
  color: whitesmoke;
}
.text {
  font-size: 1rem;
}
