* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 67.2%;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    90deg,
    rgb(232, 166, 166),
    rgb(142, 142, 210)
  );
  font-family: system-ui;
}
.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 3rem;
}
.content {
  display: flex;
  font-size: 1rem;
  transition: opacity 1s;
  opacity: 1;
}
.message {
  background-color: #f7f7f7;
  color: #555;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin: 0 2rem;
  width: 15rem;
}
.photo {
  width: 15rem;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.photo img {
  width: 100%;
  height: 100%;
}
.country_data {
  padding: 1rem;
}
.country_name {
  text-align: center;
  font-size: 2rem;
}
.country_continent {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}
.row {
  padding: 0.5rem;
  font-size: 1rem;
}
span {
  margin-left: 1rem;
  color: #000;
}
